.text-primary {
  color: #116625 !important;
}

.bg-primary {
  background-color: #116625 !important;
}

.border-green-600 {
  border-color: #116625 !important;
}

#leadership:hover {
  background-color: #116625;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.75em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.right-1 {
  right: 1rem;
}

.top-1 {
  top: 1rem;
}
.left-1 {
  left: 1rem;
}

/* Tooltip text */
.tooltips .tooltiptext {
  visibility: hidden;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
  visibility: visible;
}
.hover:hover {
  background-color: #116625;
  color: white;
  cursor: pointer;
}

a:hover {
  background-color: #116625;
  color: white;
}

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: rgb(170, 170, 170) !important;
  color: #116625 !important;
}

button.bg-primary:hover,
button.bg-primary:focus {
  background-color: black !important;
  color: white !important;
}

.input-container input {
  box-sizing: border-box;
  outline: 0;
  position: relative;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.w-42 {
  width: 11rem;
}

.w-70 {
  width: 17rem;
}

.g-recaptcha div {
  margin: 0 auto;
}

.h-15 {
  height: 4rem;
}

.max-h-3 {
  max-height: 75%;
}

.h-96 {
  height: 24rem;
}

.w-96 {
  width: 24rem;
}
